<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_for User.new do |f| %>
  <%= f.text_field :name, class: "input" %>
  <%= f.text_field :email, class: "input" %>
  <%= f.password_field :password, class: "input" %>
  <%= f.password_field :password_confirmation, class: "input" %>
<% end %>
